body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.v-center {
  position: relative;
  transform: translateY(50%);
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #ed8106;
}

.navbar-inverse {
    background-color: #ed8106;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #FFFFFF !important;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF !important;
}

@media (max-width: 500px) {
    .navbar-brand {
        font-size: 20px;
    }

    .mobile-menu {
        color: #FFFFFF
    }
}

.navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.jumbotron {
    background-color: #F5982D;
    color: #FFFFFF;
}

.jumbotron h1 {
    color: #FFFFFF;
}

.prison-logo {
    margin-top: 50px;
    width: 250px;
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
    margin-bottom: 30px;
    height: 300px;
    max-height: 300px;
}

.box-icon {
    background-color: #ed8106;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}

.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.site-info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.site-info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
    height: 125px;
    max-height: 125px;
}